{% load static %}
<div class="left-sidebar">
    <h2>Account</h2>
    <div class="panel-group category-products" id="accordian">
        
        <!-- Menu Account -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- Đổi sang dùng thẻ tag url cho chuẩn Django -->
                <h4 class="panel-title"><a href="{% url 'account_update' %}">Account</a></h4>
            </div>
        </div>
        
        <!-- Menu My Product -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <!-- Sửa href thành #myproduct để Bootstrap biết cần xổ cái khung nào xuống -->
                    <a data-toggle="collapse" data-parent="#accordian" href="#myproduct">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        My Product
                    </a>
                </h4>
            </div>
            
            <!-- Đây là khung chứa menu con sẽ xổ xuống -->
            <div id="myproduct" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="{% url 'my_products' %}">List Products</a></li>
                        <li><a href="{% url 'add_product' %}">Add Product</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>